// Colors
$primary1-color : #ea8d8d;
$primary2-color : #a890fe;
$primary1-l-color : #bc9d9d;
$primary2-l-color :#9487c4;
$black-color: #181818;
$card-color:#DCD8E2;
$headlines-color: #292929;
$text-color: #393939;

$gradient: linear-gradient(90deg, $primary1-color 0%, $primary2-color 100%);
$gradient2: linear-gradient(90deg, $primary1-l-color 0%, $primary2-l-color 100%);

// Sizes
$fontSize:16;
$vh:1080;
$vw:1920;